#co{
	background-color: palevioletred;
	color: white;
}
#cl{
	background-color: cadetblue;
}
#clo{background-color: cadetblue}
#clou{background-color: palevioletred;}
#clour{background-color: darkslateblue;
color: antiquewhite;}

